:root{
    --lable-color: #2a3a6b;
}
.dark-mode {
    --lable-color: white;
}

/* =========================== intro ======================================================= */

.contact-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: var(--space-7) auto;
    border: 2px solid var(--btn-secondary-hover);
    border-radius: var(--radius-xl);
    padding: 5%;

}

.contact-intro h1{
    font-size: var(--fs-3xl);
}

.contact-intro h3{
    font-size: var(--fs-lg);
}


/* ======================= get in touch ================= */
.container{
    display: flex;
    justify-content: space-around;
    margin-top: var(--space-10);
    margin-bottom: var(--space-6);
}

.get-in-touch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

i{
    color: var(--btn-primary-bg);
    font-size: var(--fs-xl);
}




/* ========================================= form ========================================= */



.form-header p{
    font-size: var(--fs-xl);
    color: var(--text-light);
    font-weight: bold;
    margin-bottom: 20px;

}

.form-container{
    border: 2px solid var(--btn-secondary-hover);
    padding: 3%;
    border-radius: var(--radius-xl);
    background-color: var(--card-bg); 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 90%;
}

form{

    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    
}
.input-box {
    position: relative;
    width: 300px;
}

.input-box input {
  width: 100%;
  padding: 12px 10px;
  font-size: var(--fs-base);
  border: 1px solid var(--color-gray-light);
  border-radius: var(--radius-xl);
  background: var(--card-bg);
}

.input-box label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color:   var(--text-light);
  transition: 0.3s ease;
  padding: 0 5px;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
    background: var(--card-bg);
    top: -1px;
    font-size: var(--fs-base);
    color: var(--lable-color);
}
.input-box input:focus{
    outline-color: var(--btn-secondary-hover);
}

.input-box textarea {
    width: 100%;
    padding: 12px 10px;
    font-size: var(--fs-base);
    border: 1px solid var(--color-gray-light);
    border-radius: var(--radius-xl);
    background: var(--card-bg);
}

.input-box textarea:focus + label,
.input-box textarea:not(:placeholder-shown) + label {
    background: var(--card-bg);
    top: -1px;
    font-size: var(--fs-base);
    color: var(--lable-color);
}
.input-box textarea:focus{
    outline-color: var(--btn-secondary-hover);
}

.input-btn{
    background: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    transform: 0.3s;
}

.input-btn:hover{
    background: var(--btn-primary-hover);
}

/* ================================= social ================================ */

/* ================================= media query ================================ */

@media (max-width: 780px) {
    /* =================== intro ================= */
    .contact-intro h1{
        font-size: var(--fs-xl);
    }
    .contact-intro h3{
        font-size: var(--fs-sm);
    }
    /* ============== git in touch================= */
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        text-align: left;
        
    }

    .get-in-touch{
        align-items: center;
    }

    .cards-grid{
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .get-in-touch h2{
        font-size: var(--fs-2xl);
        
    }


    /* ===================== form ======================= */
    .form-container{
        width: fit-content;
        margin-top: var(--space-9);
        
    }

    .form-header label{
        font-size: var(--fs-xl);
        transform: translateY(-150%);
    }
}