.hero{
    text-align: center;
    height: calc(100vh - 2*(var(--space-8))); 
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    align-content: center;
    gap: var(--space-2);
    align-items: center;
    margin: var(--space-8) auto;
  
}

.imge-hero{
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    padding: var(--space-8);
    transition: all 0.6s ease-in-out;
    
}
.imge-hero img {
    width: 100%;
    height: 100%;
    /* animation fidup */
    animation: fidup 3s ease-in-out infinite;
  }
  
  @keyframes fidup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @media (max-width: 600px) {
   .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  }

 /* ========================================================================================== */
 /* ========================================= section about ========================================= */

 .about-container{
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    align-content: center;
    gap: var(--space-2);
    align-items: center;
    margin: var(--space-8) auto;
  
}
.about .about-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: var(--space-8);
    transition: all 0.6s ease-in-out;
    
}
.about .about-img img {
    /* animation fidup */
    animation: fidup 3s ease-in-out infinite;
  }
  
  @keyframes fidup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  /* ========================================================================================== */
  /* ========================================= section workshops ========================================= */
  .workshops{
    padding: var(--space-8);
  }
  .workshops .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-2);
    margin: var(--space-8) auto;
  
  }
  .workshops .btn-workshops{
    text-align: center;
    margin: var(--space-8) auto;
  }